.Error {
    background-color: white;
    color: #425f57;
}

.Error img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
}