.IndividualLinks__row {
  display: flex;
  flex-direction: row;
}

.IndividualLinks__Title {
  margin: 10px 10px 10px 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #425f57;
}

.IndividualLinks__box {
  display: flex;
  width: 100%;
  background: white;
  margin-left: 0.5rem;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  justify-content: space-between;
}

.IndividualLinks__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.IndividualLinks__link-text {
  margin-left: 0.5rem;
}

.IndividualLinks__btn {
  position: relative;
  border-style: none;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 300ms;
  font-weight: 700;
  color: #425f57;
}

.IndividualLinks__btn:hover {
  background-color: #425f57;
  color: white;
}

@media (max-width: 1200px) {
  .IndividualLinks__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .IndividualLinks__row {
    display: flex;
    justify-content: space-around;
    padding-inline: 0.5rem;
  }
}

@media (max-width: 800px) {
  .IndividualLinks__row {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .IndividualLinks__link-text {
    display: none;
  }

  .IndividualLinks__btn {
    width: 100%;
    justify-content: center;
  }
}

@media (orientation: portrait) {
  .IndividualLinks__btn {
    margin: 0;
  }
  .IndividualLinks__row {
    margin: 0;
    border-radius: 0;
  }

  .IndividualLinks__box {
    border-radius: 0;
  }

  .IndividualLinks__row > * {
    margin-bottom: 0.5rem;
    margin-inline: 0.5rem;
  }
}
