.IndividualRecord {
  display: flex;
  height: inherit;
  flex-direction: column;

  width: calc(100% - 6rem);
  margin-left: auto;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #425f57;
}

.IndividualRecord__subtitle {
  font-size: 0.8rem;
  font-weight: bold;
}

.center-container {
  display: flex;
  justify-content: center;
}

.IndividualRecord__column {
  display: flex;
  flex-direction: column;
}

.IndividualRecord__row {
  display: flex;
  flex-direction: row;
}

.full__width {
  width: 100%;
}

.IndividualRecord__Form__Container {
  height: 100%;
  width: 99.5%;
  position: relative;
  margin: 10px 0 0 10px;
}

.IndividualRecord__sections {
  margin: 0 0 10px 0;
  padding: 1vh 5vh 1vh 5vh;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.IndividualRecord__section__flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.IndividualRecord__input__box {
  margin: 1px 1px 1px 2px;
  width: 20%;
}

.IndividualRecord__input__box__1 {
  margin: 1px;
  padding: 5px;
  width: 50%;
}

.IndividualRecord__input__box__2 {
  margin: 1px;
  padding: 5px;
  width: 100%;
  justify-content: space-between;
}

.IndividualRecord__input__container {
  height: fit-content;
  width: 100%;
  padding: 20px;
}

.IndividualRecord__input__box > h3 {
  justify-content: right;
}

.IndividualRecord__title__right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
}

.IndividualRecord__input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: hidden;
  background-color: #f1f6f9;
  height: 1.8rem;
  width: 98%;
  text-indent: 10px;
  border: 1px rgba(44, 44, 44, 0.5) solid;
  transition: 0.3s ease-in;
}

.IndividualRecord__input:focus {
  border-color: #fac213;
}

.IndividualRecord__text__area {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: hidden;
  background-color: #f1f6f9;
  height: 13.6rem;
  width: 98%;
  border: 1px rgba(44, 44, 44, 0.5) solid;
  resize: none;
}

.IndividualRecord__text__area::-webkit-scrollbar {
  display: none;
}

.IndividualRecord__input:focus {
  outline: none;
}

.IndividualRecord__text__area:focus {
  outline: none;
}

.IndividualRecord__Questions__Row {
  padding: 1rem;
  width: 33.33%;
}

.IndividualRecord__Questions__Container {
  border-radius: 10px;
  width: 99.5%;
  height: 840px;
  position: relative;
  margin: 10px 0 0 10px;
}

.IndividualRecord__finish {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirm__btn {
  position: relative;
  border-style: none;
  border-radius: 10px;
  background-color: #015001;
  height: fit-content;
  width: 150px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  transition: all 300ms;
  font-weight: 700;
  color: white;
}

.confirm__btn:hover {
  background-color: #015001;
  transform: scale(1.05);
  color: white;
}

.danger__btn {
  position: relative;
  border-style: none;
  border-radius: 10px;
  background-color: red;
  height: fit-content;
  width: 150px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  transition: all 300ms;
  font-weight: 700;
  color: white;
}

.danger__btn:hover {
  background-color: red;
  transform: scale(1.05);
  color: white;
}

@media (max-width: 1000px) {
  .IndividualRecord__section__flex-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .IndividualRecord__input__box {
    width: 100%;
  }

  .IndividualRecord__title__right {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
  }

  .IndividualRecord__reverse-text {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .IndividualRecord__column-responsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .IndividualRecord__responsive {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .IndividualRecord__column-responsive {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (orientation: portrait) {
  .IndividualRecord {
    width: 100%;
    margin-inline: auto;
    padding: 0;
  }

  .IndividualRecord__Form__Container {
    width: 100%;
    margin: 0;
  }

  .IndividualRecord {
    padding: 0;
  }

  .IndividualRecord__sections {
    margin: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .IndividualRecord__column-responsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .IndividualRecord__row-column {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .IndividualRecord__row > * {
    width: 100%;
  }
  .IndividualRecord__row {
    display: flex;
    flex-direction: column;
  }
}
