.IndividualRecord__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.IndividualRecord__modal__close__btn {
  display: block;
  border: none;
  background-color: white;
  height: 30px;
  width: 30px;
  color: #425f57;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  float: right;
  top: -20px;
  right: -20px;
}

.IndividualRecord__modal__upload__label {
  border: none;
  outline: none;
  display: inline-block;
  background-color: #425f57;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.IndividualRecord__modal__upload__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.IndividualRecord__modal__upload__input {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.IndividualRecord__modal__img {
  height: 200px;
  width: 200px;
}

.IndividualRecord__modal__submit__btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.IndividualRecord__modal__row {
  display: inherit;
}

@media (max-width: 1200px) {
 .IndividualRecord__modal__upload__container {
    flex-direction: column;
 }
}

@media (max-width: 600px) {
  .IndividualRecord__modal {
    overflow-y: scroll;
  }

  .IndividualRecord__modal__upload__container {
    flex-direction: column;
  }

  .IndividualRecord__modal__row {
    flex-direction: column;
  }
}
