.Reports {
  display: flex;
  flex-direction: column;
  width: calc(100% - 7rem);
  height: 100vh;
  margin-left: auto;
  padding: 0.5rem;
  color: #425f57;
}

.Reports__top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.Reports__search {
  outline: none;
  border: none;
  background-color: #f1f1f1;
  padding: 0.5rem;
  width: 20vw;
}

.Reports__logo-title {
  display: flex;
  align-items: center;
}

.Reports__title {
  margin-left: 1rem;
}

.Reports__btn__group {
  display: flex;
  justify-content: center;
}

.Reports__danger__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 5px 0 1px;
  height: 30px;
  width: 45%;
  background-color: rgb(194, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
}

.Reports__update__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 5px 0 1px;
  height: 30px;
  width: 45%;
  background-color: rgb(18, 105, 18);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;
}

.Reports__danger__btn:hover,
.Reports__update__btn:hover {
  transform: scale(1.05);
}

@media (orientation: portrait) {
  .Reports {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .Reports__top-nav {
    border-radius: 0;
  }

  .Reports__search {
    width: 40vw;
  }

  .Reports_span_btn {
    display: none;
  }
}
