.TableRow__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.TableRow__buttons > * {
  cursor: pointer;
}

.TableRow__delete {
  background-color: #c8506a;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 2rem;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  transition: 0.3s ease-in-out;
}
.TableRow__delete:hover {
  background-color: #8b394b;
}

.TableRow__question {
  background-color: #3f5175;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 2rem;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  transition: 0.3s ease-in-out;
}
.TableRow__question:hover {
  background-color: #293956;
}
